<app-navbar></app-navbar>

<div class="relative">
  <div class="w-full h-screen bg-home bg-cover bg-right-top overflow-hidden"></div>
  <div class="absolute top-1/2 text-center w-full">
    <h1 class="static text-5xl font-bold text-white items-center ml-4">Emploi Jeunes</h1>
    <div class="w-full mt-40 flex justify-center ">
      <div class="space-x-6">
        <button
          type="submit"
          class="w-38 py-3 px-6 text-base text-black bg-white rounded-lg 
          hover:bg-mlvBlue hover:text-white focus:ring active:ring-white"
        >
          Se connecter
        </button>
        <button
          type="submit"
          class="w-38 py-3 px-2 text-base bg-white rounded-lg 
          hover:bg-mlvBlue hover:text-white focus:ring active:ring-white"
        >
          Trouver un emploi
        </button>
      </div>
    </div>
  </div>
</div>
