<app-navbar></app-navbar>

<div class="relative 
sm:overflow-x-hidden sm:h-screen sm:overflow-hidden 
md:overflow-scroll
lg:overflow-scroll
xl:overflow-y-hidden ">
   
  <!-- Image background -->
  <div class="w-full h-screen bg-home bg-cover bg-right-top overflow-hidden
  sm:h-screen sm:bg-cover sm:mt-14
  md:h-full md:bg-cover
  "></div>

 <!-- Titre et boutons -->
  <div class="absolute top-1/2 w-full right-0
  sm:right-40 sm:top-1/3 
  md:right-0 md:top-18 d:translate-y-10 md:w-full 
  lg:right-1/4 ">

    <!-- <h1 class="text-5xl font-bold text-white items-center ml-4 sm:text-left ">Emploi Jeunes</h1> -->
    <!-- Titre -->
    <h1 class="text-7xl ml-0 mr-4 mb-2 flex flex-col text-center text-white
      sm:text-5xl sm:ml-0 sm:mr-4 sm:mb-2 sm:flex sm:justify-center sm:items-center sm:flex-col 
      md:text-8xl md:pb-26 md:mr-auto
      lg:pb-16 lg:text-8xl">
      <span class="inline sm:inline">Emploi</span>
      <span class="inline ml-14 
      sm:ml-8 sm:inline sm:ml-0 sm:mr-0 sm:mt-2
      md:ml-24 
      lg:ml-18">Jeunes</span>
    </h1>
   
    <!-- Boutons -->
    <div class="w-full mt-20 flex justify-center 
    sm:mt-14 sm:justify-center sm:ml-6 
    md:ml-auto">
      <div class="space-x-6 md:space-x-16">
        <button
          type="submit"
          class="w-38 py-3 px-6 text-base text-black bg-white rounded-lg 
          hover:bg-mlvBlue hover:text-white 
          focus:ring 
          active:ring-white
          md:py-4 md:px-8
          xl:text-lg
          "
          routerLink="/login"
        >
          Se connecter
        </button>
        <button
          type="submit"
          class="w-38 py-3 px-2 text-base bg-white rounded-lg 
          hover:bg-mlvBlue hover:text-white 
          focus:ring 
          active:ring-white
          md:py-4 md:px-4
          xl:text-lg"
        >
          Trouver un emploi
        </button>
      </div>
    </div>
  </div>
</div>
