<app-navbar></app-navbar>

<section class="bg-white sm:bg-mlvBlue md:bg-mlvGreen lg:bg-mlvBlue xl:bg-mlvGray">
  <div class="flex justify-center items-center min-h-screen sm:flex-rows">

    <!-- Image register -->
    <div
      class="hidden bg-cover z-0
      sm:block sm:h-3/4 sm:w-1/3 sm:object-contain sm:m-10 sm:fixed sm:left-2 sm:right-2 sm:top-12 sm:bg-center
      md:block md:h-3/4 md:mt-28 md:bg-center md:ml-12
      lg:block lg:w-2/5 lg:ml-6 lg:bg-center"
      style="background-image: url('assets/images/register.jpg')"
    ></div>

    <!-- formulaire d'inscription -->
    <div class="flex flex-col mt-16
    sm:ml-80 sm:mt-24 sm:mr-10
    md:mt-32 md:mr-0
    lg:ml-96
    ">

      <!-- Identité -->
      <div class="self-center text-lg pt-12 
      sm:pt-0 
      md:self-start">Votre identité :</div>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="grid grid-cols-1 gap-6 md:grid-cols-1"
      >
        <div class="bg-mlvGray p-8 md:px-14 rounded-lg">
          <div>
            <label class="block text-base">Nom :</label>
            <input
              type="text"
              placeholder="John"
              formControlName="nom"
              class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            />
          </div>

          <div>
            <label class="block mt-4 mb-0 text-base">Prénom :</label>
            <input
              type="text"
              placeholder="Snow"
              formControlName="prenom"
              class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            />
          </div>
          <div>
            <label class="block mt-4 text-base">Date de naissance :</label>
            <input
              type="text"
              placeholder="Snow"
              formControlName="date_naissance"
              class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            />
          </div>
          <div>
            <label class="block mt-4 text-base">Nationalité :</label>
            <input
              type="text"
              placeholder="Snow"
              formControlName="nationalite"
              class="block w-full px-5 py-3 bg-white border rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            />
          </div>
        </div>

        <!-- Adresse -->
        <div class="flex flex-col">
          <div class="self-center text-lg pt-0 md:self-start">Votre adresse :</div>
          <div class="w-full p-8 bg-mlvGray md:px-14 rounded-lg">
            <div>
              <label class="block text-base">Numéro :</label>
              <input
                type="text"
                
                formControlName="telephone"
                class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
            <div>
              <label class="block mt-4 text-base">Rue :</label>
              <input
                type="text"
               
                formControlName="nationalite"
                class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
            <div>
              <label class="block mt-4 text-base">Code postale :</label>
              <input
                type="text"
              
                formControlName="telephone"
                class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
            <div>
              <label class="block mt-4 text-base">Ville :</label>
              <input
                type="text"
                
                formControlName="nationalite"
                class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
          </div>
        </div>

        <!-- Information contact -->
        <div class="flex flex-col">
          <div class="self-center text-lg pt-0 md:self-start">Information de contact :</div>
          <div class="w-full p-8 bg-mlvGray md:px-14 rounded-lg">
            <div>
              <label class="block text-base">Numéro de téléphone :</label>
              <input
                type="text"
                placeholder="XXX-XX-XXXX-XXX"
                formControlName="telephone"
                class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
            <div>
              <label class="block mt-4 text-base">Adresse email :</label>
              <input
                type="email"
                placeholder="johnsnow@example.com"
                formControlName="email"
                class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
          </div>
        </div>

        <!-- Validation -->
        <div class="flex flex-col">
          <div class="self-center text-lg pt-0 md:self-start">Validation :</div>
          <div class="w-full p-8 md:px-14 bg-mlvGray rounded-lg">
            <div class="">
              <label class="block text-base">Mot de passe</label>
              <div class="">
                <input
                  type="password"
                  placeholder="Enter your password"
                  formControlName="mot_de_passe"
                  class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                />
              </div>
            </div>
            <div>
              <div class="">
                <label class="block mt-4 text-base">
                  Confirmation du mot de passe</label
                >
              </div>
              <div class="flex items-center justify-center">
                <input
                  type="password"
                  placeholder="Enter your password"
                  formControlName="mot_de_passe"
                  class="block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Button de validation -->
        <div class="flex items-center justify-center">
          <button
            type="submit"
            [disabled]="!form.valid"
            class="mb-6 w-60 px-6 py-3 text-base text-white capitalize transition-colors duration-300 transform bg-mlvGreen rounded-lg 
            hover:bg-white hover:text-mlvGreen hover:border hover:border-2 
            focus:outline-none focus:ring focus:ring-mlvBlue focus:ring-opacity-50
            
          "
          >
            <span>Envoyer</span>

            <!-- <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 rtl:-scale-x-100"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg> -->
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
