<app-navbar></app-navbar>
<div class="w-full overflow-hidden bg-phoneLogin bg-cover h-screen 
sm:bg-phoneLogin sm:bg-center
md:bg-login 
lg:bg-login
xl:bg-login
    ">
  <!-- Titre de connexion -->
  <div class="mt-40 sm:mt-24">
    <h3 class="text-4xl mb-0 font-medium text-center text-white
    sm:text-lg sm:hidden
    ">
      Connexion
    </h3>
</div>
<!-- Formulaire -->
    <form class="flex flex-col mt-4 pt-10
    sm:pt-0">
      <div class="flex items-center justify-center">
        <div class="w-60 mt-4 mb-6 
        sm:mt-0 sm:mb-0">
          <label class="text-white text-lg
          sm:text-sm
          ">Email :</label>
          <input
            class="block w-full px-14 py-2 bg-white border rounded-lg focus:border-mlvGray focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-mlvGray"
            type="email"
            aria-label="Email Address"
          />
        </div>
      </div>

      <div class="flex flex-col">
        <div class="flex items-center justify-center">
          <div class="w-60 mt-4 mb-10 sm:mb-2">
            <label class="text-white text-lg 
            sm:text-sm"
            >Mot de passe :</label>
            <input
              class="block w-full px-4 py-2 mt-0 bg-white border rounded-lg focus:border-mlvGray focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-mlvGray"
              type="password"
             
              aria-label="Password"
            />
            <a href="#" class="text-sm text-white hover:text-mlvGray
            sm:text-xs"
              >Mot de passe oublié?</a
            >
          </div>
        </div>
      </div>
      <div class="grid grid-col-1 justify-end sm:justify-center sm:mt-0 mt-4">
        <button
          class="  mb-4 mr-4 px-6 py-2 text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-mlvGreen rounded-lg 
          hover:bg-white hover:text-black active:bg-mlvGray
          focus:outline-none focus:ring focus:ring-mlvGray focus:ring-opacity-50
          sm:mb-0 sm:text-sm"
        >
          Valider
        </button>
      </div>
    </form>
    <div class="flex items-center justify-center py-4 text-center">
      <span class="text-sm text-white
      sm:text-xs"
      >Pas de compte ?</span>
      <a
        href="#"
        class="mx-2 text-sm font-bold text-white hober:text-mlvGray hover:underline
        sm:text-xs"
        >Pré-inscription</a
      >
    </div>
  </div>
